@import './../../style/index.scss';

.questions-container {

  .title-box {
    background: $bg-black;
    padding: 30px 165px;

    .title {
      display: flex;
      gap: 34px;

      .vertical-line {
        border-left: 4px solid $bg-renga-brick;
      }

      h2 {
        color: $font-white;
        font-family: $family-titillium-web;
        font-size: 36px;
        font-style: normal;
        font-weight: 275;
        line-height: 46.8px;
      }
    }
  }

  .accordion-container {
    margin: 45px 160px 125px;
    background: white;


    .accordion-box {
      background: white;

      .question-box {
        position: relative;


        &::after {
          content: ''; /* Required for the pseudo-element */
          // position: absolute;
          // bottom: 0;
          // left: 0;
          width: 100%;
          display: block;
          height: 1px; /* Define the thickness of the line */
          background-color: $bg-black; /* Define the line's color */
          // margin-bottom: 30px;
          // margin-top: 30px;
        }

        .question-section {
          cursor: pointer;

          display: flex;
          align-items: flex-start;
          // flex-direction: column;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          .name {
            margin: 30px 12px;
            color: $font-black;
            font-family: $family-titillium-web;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 33.8px;

            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          .is-open {
            // align-self: center;
            // font-weight: bold;
            // font-size: 30px;
            // line-height: 33.8px;

            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .close {
              width: 24px;
              height: 24px;
              background: white;
              background-image: url("./../../assets/img/questions/close-2-icon.png");
              // opacity: 0.5;
            }

            .open {
              width: 24px;
              height: 24px;
              background-image: url("./../../assets/img/questions/open-icon.svg");
            }
          }

          // &::after {
          //   content: '';
          //   position: absolute;
          //   bottom: 0;
          //   left: 0;
          //   display: block;
          //   width: 100%;
          //   height: 1px;
          //   background-color: $bg-black;

          //     // width: 100%;
          //     // display: block;
          //     // height: 1px; /* Define the thickness of the line */
          //     // background-color: $bg-black; /* Define the line's color */
          //     // margin-top: 30px;
          // }

          // .horizontal-line {
          //   flex: 1; /* Fills the entire width of its container */
          //   border-bottom: 4px solid $bg-black;
          // }
        }

        .answer {
          margin-left: 12px;
          margin-bottom:  30px;
          // padding: 30px 12px;
          // padding: 5px;
          color: #484848;
          font-family: $family-inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;

          // &::after {
          //   content: '';
          //   // position: absolute;
          //   // bottom: 0;
          //   // left: 0;
          //   width: 100%;
          //   display: block;
          //   height: 1px;
          //   background-color: $bg-black;
          //   margin-top: 30px;
          // }
        }

        .horizontal-line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $bg-black;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .questions-container {

    .title-box {
      padding: 30px 110px;
  
      .title {
  
        .vertical-line {
        }
  
        h2 {
        }
      }
    }
  
    .accordion-container {
      margin: 45px 110px 100px;
  
      .accordion-box {
  
        .question-box {
  
          &::after {
          }
  
          .question-section {
  
            .name {
            }
  
            .is-open {
  
              .close {
              }
  
              .open {
              }
            }
          }
  
          .answer {
          }
  
          .horizontal-line {
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .questions-container {

    .title-box {
      padding: 30px 100px;
  
      .title {
  
        .vertical-line {
        }
  
        h2 {
        }
      }
    }
  
    .accordion-container {
      margin: 40px 100px 90px;
  
      .accordion-box {
  
        .question-box {
  
          &::after {
          }
  
          .question-section {
  
            .name {
            }
  
            .is-open {
  
              .close {
              }
  
              .open {
              }
            }
          }
  
          .answer {
          }
  
          .horizontal-line {
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .questions-container {

    .title-box {
      padding: 30px 50px;
  
      .title {
  
        .vertical-line {
        }
  
        h2 {
          font-size: 30px;
        }
      }
    }
  
    .accordion-container {
      margin: 30px 50px 70px;
  
      .accordion-box {
  
        .question-box {
  
          &::after {
          }
  
          .question-section {
  
            .name {
              font-size: 20px;
              // text-align: justify;
            }
  
            .is-open {
  
              .close {
              }
  
              .open {
              }
            }
          }
  
          .answer {
            // text-align: justify;
            // padding-right: 37px;
          }
  
          .horizontal-line {
          }
        }
      }
    }
  }
}