@import './../../style/index.scss';

.author-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 150px;
    // gap: 140px;

    .title {
      // width: 60%;
      display: flex;
      flex-direction: column;
      margin-right: 140px;

      .title-box {
        display: flex;
        gap: 34px;

        .vertical-line {
          height: 216px;
          display: flex;
          // padding-left: 24px;
          flex-direction: column;
          align-items: flex-start;
          border-left: 4px solid $bg-renga-brick;
        }

        .text-box {

          h2 {
            color: $font-haiti;
            font-family: $family-titillium-web;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 46.8px;
          }

          h3 {
            color: $font-haiti;
            font-family: $family-titillium-web;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 36.4px;

            margin-top: 45.2px;
          }

          h4 {
            color: $font-haiti;
            font-family: $family-titillium-web;
            font-size: 26px;
            font-style: normal;
            font-weight: 275;
            line-height: 36.4px;
            margin-top: 20px;
            margin-right: 106.65px;
          }
        }
      }

      .info {
        margin-top: 77px;

        p {
          color: $font-haiti;
          font-family: $family-inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.4px;
        }
      }
    }

    .img-box {
      // width: 40%;


      .img {
        width: 381.212px;
        height: 461px;
        // width: 100%;
        flex-shrink: 0;
        background: url("./../../assets/img/author/author-img.png"), lightgray -105.681px -32.422px / 153.698% 127.096% no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 1440px) {
  .author-container {
  
    .box {
      margin: 80px 110px;
      
  
      .title {
        margin-right: 100px;
  
        .title-box {
  
          .vertical-line {
          }
  
          .text-box {
  
            h2 {
            }
  
            h3 {
            }
  
            h4 {
            }
          }
        }
  
        .info {
  
          p {
          }
        }
      }
  
      .img-box {
  
        .img {
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .author-container {
  
    .box {
      flex-direction: column;
      gap: 40px;
      margin: 70px 100px;
  
      .title {
        margin-right: 0;
  
        .title-box {
  
          .vertical-line {
          }
  
          .text-box {
  
            h2 {
            }
  
            h3 {
            }
  
            h4 {
            }
          }
        }
  
        .info {
  
          p {
            text-align: justify;
          }
        }
      }
  
      .img-box {
  
        .img {
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .author-container {
  
    .box {
      margin: 70px 50px;
  
      .title {
  
        .title-box {
  
          .vertical-line {
          }
  
          .text-box {
  
            h2 {
              font-size: 30px;
            }
  
            h3 {
            }
  
            h4 {
            }
          }
        }
  
        .info {
  
          p {
          }
        }
      }
  
      .img-box {
  
        .img {
          width: 300px;
          height: 360px;
          background-size: contain;
        }
      }
    }
  }
}