@import './../../style/index.scss';

.banner-timer {
  color: $font-white;

  font-family: $family-titillium-web;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.mail-timer {
  color: $font-white;

  font-family: $family-titillium-web;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}

@media (max-width: 1440px) {
  .banner-timer {
  }
  .mail-timer {
    font-size: 32px;
  }
}
@media (max-width: 1024px) {
  .banner-timer {
    font-size: 40px;
  }
  .mail-timer {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .banner-timer {
  }
  .mail-timer {
    font-size: 35px;
  }
}