@import './../../style/index.scss';

.banner-timer {
  color: $font-white;

  font-family: $family-titillium-web;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.4px;
}

.mail-timer {
  color: $font-renga-brick;

  font-family: $family-titillium-web;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}