@import './../../style/index.scss';

.description-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .box {
    display: flex;
    flex-direction: column;
    margin: 120px 150px;
    gap: 50px;

    .title {
      display: flex;


      div {
        height: 92px;
        display: flex;
        // padding-left: 24px;
        flex-direction: column;
        align-items: flex-start;
        border-left: 4px solid $bg-renga-brick;
      }

      h2 {
        margin-left: 24px;

        color: $font-haiti;
        font-family: $family-titillium-web;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 50.4px;
      }
    }

    .info {

      .info-top p, .info-bottom p {
        color: $font-haiti;
        font-family: $family-titillium-web;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
      }

      .info-bottom {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .description-container {
  
    .box {
      margin: 80px 110px;
  
      .title {
  
        div {
        }
  
        h2 {
        }
      }
  
      .info {
  
        .info-top p, .info-bottom p {
          text-align: justify;
        }
  
        .info-bottom {
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .description-container {
  
    .box {
      margin: 70px 100px;
  
      .title {
  
        div {
        }
  
        h2 {
        }
      }
  
      .info {
  
        .info-top p, .info-bottom p {
        }
  
        .info-bottom {
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .description-container {
  
    .box {
      margin: 40px 20px;
  
      .title {
  
        div {
        }
  
        h2 {
          font-size: 30px;
        }
      }
  
      .info {
  
        .info-top p, .info-bottom p {
        }
  
        .info-bottom {
        }
      }
    }
  }
}