@import './../../style/index.scss';
@import "./../../style/mixins.scss";

.about-container {
  width: 100%;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-image: url('./../../assets/img/about/Military-formation.png');
  background: url('./../../assets/img/about/Military-formation.png'), no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  // flex-shrink: 0;

  .about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 114px 150px;
    // margin: 10px;
    
    // @include onDesktop {
    //   margin: 10px;
    // }

    .info-title-box {
      display: flex;

      .info-vertical-line {
        border-left: 4px solid $bg-renga-brick;
        display: flex;
        // padding-left: 24px;
        flex-direction: column;
        align-items: flex-start;
      }

      .info-title {
        margin-left: 24px;
        // padding-top: 5px;
        color: $font-haiti;
        font-family: $family-titillium-web;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 50.4px;
      }
    }

    .info-top-box {
      margin-top: 40px;

      .info-top {
        color: $font-haiti;
        font-family: $family-titillium-web;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 25.2px;

        .info-top-highlight-one,
        .info-top-highlight-two {
          font-weight: 700;
        }
      }
    }

    .info-bottom-box {
      margin-top: 20px;

      .info-bottom {
        color: $font-tiger-lily;
        font-family: $family-titillium-web;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25.2px;
      }
    }
  }

  // .about-form-container {
  //   background-color: $bg-young-night;

  //   display: flex;
  //   // width: 720px;
  //   // height: 495px;
  //   width: 50%;
  //   height: 100%;

  //   // padding: 32px;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 10px;
  //   flex-shrink: 0;

  //   .about-form-title {
  //     display: flex;
  //     width: 260px;
  //     height: 347px;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     gap: 16px;
  //     flex: 1 0 0;

  //     .about-title {

  //       p {
  //         color: $font-white;
  //         font-family: $family-titillium-web;
  //         font-size: 18px;
  //         font-style: normal;
  //         font-weight: 600;
  //         line-height: 18px;
  //       }

  //       h2 {
  //         margin-top: 20px;
  //         color: $font-white;
  //         color: #FFF;
  //         font-family: $family-oswald;
  //         font-size: 30px;
  //         font-style: normal;
  //         font-weight: 500;
  //         line-height: 100%;
  //       }
  //     }

  //     .about-text {

  //       p {
  //         color: $font-white;
  //         font-family: $family-titillium-web;
  //         font-size: 18px;
  //         font-style: normal;
  //         font-weight: 600;
  //         line-height: 24.3px;
  //       }
  //     }

  //     .about-price {

  //       p:first-child {
  //         color: $bg-renga-brick;
  //         font-family: $family-titillium-web;
  //         font-size: 32px;
  //         font-style: normal;
  //         font-weight: 700;
  //         line-height: 41.6px;
  //       }

  //       p:last-child {
  //         color: $font-white;
  //         font-family: $family-titillium-web;
  //         font-size: 20px;
  //         font-style: normal;
  //         font-weight: 400;
  //         line-height: 26px;
  //         text-decoration: line-through;
  //       }
  //     }

  //     .countdown-timer {
  //       color: $font-renga-brick;
  //       font-family: $family-titillium-web;
  //       font-size: 40px;
  //       font-style: normal;
  //       font-weight: 700;
  //       line-height: 52px;

  //       p {
  //         font-size: 100px;
  //       }
  //     }
  //   }

  //   .about-form-box {
  //   }
  // }
}

@media (max-width: 1440px) {
  .about-container {
  
    .about-info {
      margin: 80px 110px;
  
      .info-title-box {
  
        .info-vertical-line {
        }
  
        .info-title {
        }
      }
  
      .info-top-box {

  
        .info-top {
  
          .info-top-highlight-one,
          .info-top-highlight-two {
          }
        }
      }
  
      .info-bottom-box {
  
        .info-bottom {
        }
      }
    }
  
    .about-form-container {
  
      .about-form-title {
  
        .about-title {
  
          p {
          }
  
          h2 {
          }
        }
  
        .about-text {
  
          p {
          }
        }
  
        .about-price {
  
          p:first-child {
          }
  
          p:last-child {
          }
        }
  
        .countdown-timer {
          p {
          }
        }
      }
  
      .about-form-box {
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-container {
    width: 100%;
    // display: flex;
    flex-direction: column;
  
    .about-info {
      width: 70%;
      margin: 70px 100px;
  
      .info-title-box {
  
        .info-vertical-line {
        }
  
        .info-title {
        }
      }
  
      .info-top-box {

  
        .info-top {
  
          .info-top-highlight-one,
          .info-top-highlight-two {
          }
        }
      }
  
      .info-bottom-box {
  
        .info-bottom {
        }
      }
    }
  
    .about-form-container {
  
      .about-form-title {
  
        .about-title {
  
          p {
          }
  
          h2 {
          }
        }
  
        .about-text {
  
          p {
          }
        }
  
        .about-price {
  
          p:first-child {
          }
  
          p:last-child {
          }
        }
  
        .countdown-timer {
          p {
          }
        }
      }
  
      .about-form-box {
      }
    }
  }
}

@media (max-width: 768px) {
  .about-container {
  
    .about-info {
      width: 90%;
      margin: 40px 20px;
  
      .info-title-box {
  
        .info-vertical-line {
        }
  
        .info-title {
          font-size: 30px;
        }
      }
  
      .info-top-box {

  
        .info-top {
  
          .info-top-highlight-one,
          .info-top-highlight-two {
          }
        }
      }
  
      .info-bottom-box {
  
        .info-bottom {
        }
      }
    }
  
    .about-form-container {
  
      .about-form-title {
  
        .about-title {
  
          p {
          }
  
          h2 {
          }
        }
  
        .about-text {
  
          p {
          }
        }
  
        .about-price {
  
          p:first-child {
          }
  
          p:last-child {
          }
        }
  
        .countdown-timer {
          p {
          }
        }
      }
  
      .about-form-box {
      }
    }
  }
}
