@import './../../style/index.scss';
// @import "./../../style/mixins.scss";

.header-container {
  background-color: $bg-black;
  display: flex;
  // justify-content: center;
  position: relative;

  .top {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    // gap: 40px;
    
    .top-title {
      width: 50%;
      // margin: 40px 0 250px 150px;

      .top-title-logo {
        display: flex;
        gap: 24px;
        margin: 40px 0 0 150px;

        .top-title-logo-box {
          width: 29.8px;
          height: 29.8px;

          .logo {}
        }

        .top-title-logo-name {
          width: 106px;
          height: 36px;

          .logo-name {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 18.2px;
            color: $font-white;
          }
        }
      }

      .top-title-name {
        display: flex;
        flex-direction: column;
        margin: 180px 0 250px 150px;
        margin-top: 180px;
        gap: 35px;
        padding-right: 40px;
        margin-right: 40px;

        .top-heading {
          font-family: 'Oswald', sans-serif;
          font-weight: 100;
          font-size: 76px;
          line-height: 83.6px;
          color: #ffffff;

          .top-heading-highlight {
            color: $font-tiger-lily;
          }
        }

        .top-info {
          margin-top: 35px;
          // margin-right: 50px;
          // margin-bottom: 250px;

          .top-info-text {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #ffffff;
          }
        }
      }
    }

    .top-bg {
      width: 50%;
      background: url("./../../assets/img/header/Military.png"), no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      .bg-military {
        // width: 55%;
        // background: url("./../../assets/img/header/Military.png"), no-repeat;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: 50% 50%;
      }
    }
  }

  .bottom {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $bg-renga-brick;

    .bottom-text-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin: 25px 150px;

      .bottom-info {
        display: flex;
        align-items: center;
        gap: 8px;
        // flex-shrink: 1;
        
        .bottom-info-box {
          // width: 65%;
  
          .bottom-info-text {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 100;
            font-size: 20px;
            line-height: 26px;
            color: $font-white;
          }
        }
  
        .bottom-price {
          // width: 143px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
  
          .bottom-price-after {
  
            .price-after {
              font-family: 'Titillium Web', sans-serif;
              font-weight: 700;
              font-size: 28px;
              line-height: 36.4px;
              color: $font-white;
              white-space: nowrap;
            }
          }
  
          .bottom-price-before {
  
            .price-before {
              font-family: 'Titillium Web', sans-serif;
              font-weight: 400;
              font-size: 20px;
              line-height: 26px;
              color: $font-black;
              text-decoration: line-through;
              white-space: nowrap;
            }
          }
        }
      }
  
      .bottom-timer-container {
        display: flex;
        flex-shrink: 0;
        
        .bottom-timer {
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .header-container {

    .top {
      // margin: 0;
      // margin-left: 100px;
      
      .top-title {
        // width: 45%;
        // margin-left: 100px;
  
        .top-title-logo {
          margin-left: 110px;
  
          .top-title-logo-box {
  
            .logo {}
          }
  
          .top-title-logo-name {
  
            .logo-name {
            }
          }
        }
  
        .top-title-name {
          margin-top: 100px;
          margin-left: 110px;
  
          .top-heading {
            font-size: 60px;

            .top-heading-highlight {
            }
          }
  
          .top-info {
  
            .top-info-text {
              font-size: 15px;
            }
          }
        }
      }
  
      .top-bg {
        // width: 55%;
        // background-size: cover;
        // height: 100%;
  
        .bg-military {
        }
      }
    }
  
    .bottom {
  
      .bottom-text-box {
        margin: 25px 110px;

  
        .bottom-info {
          
          .bottom-info-box {
    
            .bottom-info-text {
              font-size: 18px;
            }
          }
    
          .bottom-price {
    
            .bottom-price-after {
    
              .price-after {
              }
            }
    
            .bottom-price-before {
    
              .price-before {
              }
            }
          }
        }
    
        .bottom-timer-container {
          // font-size: 20px;
          // width: 50px;

          .bottom-timer {
            // font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-container {
    // background: url("./../../assets/img/header/Military.png"), no-repeat;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
    // opacity: ;

    .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .top-title {
        width: 100%;
  
        .top-title-logo {
          margin-left: 100px;
          margin-right: 100px;
  
          .top-title-logo-box {
  
            .logo {}
          }
  
          .top-title-logo-name {
  
            .logo-name {
            }
          }
        }
  
        .top-title-name {
          margin-top: 100px;
          margin-left: 100px;
          margin-right: 100px;
          padding-right: 0;

  
          .top-heading {
            font-size: 60px;

  
            .top-heading-highlight {
            }
          }
  
          .top-info {
  
            .top-info-text {
            }
          }
        }
      }
  
      .top-bg {
        // display: none;
  
        .bg-military {
        }
      }
    }
  
    .bottom {
  
      .bottom-text-box {
        flex-direction: column;
        margin: 25px 100px;
  
        .bottom-info {
          justify-content: space-between;
          
          .bottom-info-box {
    
            .bottom-info-text {
            }
          }
    
          .bottom-price {
    
            .bottom-price-after {
    
              .price-after {
              }
            }
    
            .bottom-price-before {
    
              .price-before {
              }
            }
          }
        }
    
        .bottom-timer-container {
          
          .bottom-timer {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    // background: white;
    // width: 500px;
        background: url("../../assets/img/header/Military.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .top {
      
      .top-title {
  
        .top-title-logo {
          margin-left: 20px;
  
          .top-title-logo-box {
  
            .logo {}
          }
  
          .top-title-logo-name {
  
            .logo-name {
            }
          }
        }
  
        .top-title-name {
          margin-bottom: 400px;
          margin-top: 70px;
          margin-left: 20px;
          margin-right: 20px;
          padding: 0;
  
          .top-heading {
  
            .top-heading-highlight {
            }
          }
  
          .top-info {
  
            .top-info-text {
            }
          }
        }
      }
  
      .top-bg {
  
        .bg-military {
        }
      }
    }
  
    .bottom {
  
      .bottom-text-box {
        margin: 25px 20px;
  
        .bottom-info {
          flex-direction: column;
          
          .bottom-info-box {
    
            .bottom-info-text {
              text-align:justify;
            }
          }
    
          .bottom-price {
    
            .bottom-price-after {
    
              .price-after {
              }
            }
    
            .bottom-price-before {
    
              .price-before {
              }
            }
          }
        }
    
        .bottom-timer-container {
          
          .bottom-timer {
          }
        }
      }
    }
  }
}