@import url('https://fonts.googleapis.com/css2?family=Allison&family=Inter:wght@400;600;700&family=Montserrat:wght@700&family=Nunito+Sans:opsz@6..12&family=Oswald:wght@400;600;700&family=Pacifico&family=Titillium+Web:wght@400;600;700&display=swap');

$font-white: #FFFFFF;
$font-black: #111111;
$font-haiti: #2B2B37;
$font-tiger-lily: #E25A3C;
$font-renga-brick: #b44f2e;
$bg-black: #111111;
$bg-renga-brick: #b44f2e;
$bg-young-night: #232323;
$bg-white: #ffffff;
$bg-tiger-lily: #e25a3c;


$family-titillium-web: "Titillium Web", sans-serif;
$family-oswald: "Oswald", sans-serif;
$family-inter: "Inter", sans-serif;
$family-nurito-sans: "Nurito Sans", sans-serif;
$family-montserrat: "Montserrat", sans-serif;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop1: 1024px;
$breakpoint-desktop2: 1440px;

body {
  min-width: 320px;
}

* { 
  margin: 0; padding: 0; 
  list-style: none;
  text-decoration: none;
}

// .container {
//   margin: 0 auto;
//   padding: 0 150px;
//   width: 100%;
// }

@mixin onTabletAndDesktopGrid {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  column-gap: 24px;
}

@mixin onMobileGrid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 15px;
}

@mixin onTablet {
  @media (min-width: 768px) and (max-width: 1440px) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: 360px) and (max-width: 768px) {
    @content;
  }
}

