@import './../../style/index.scss';

.footer-container {
  background: url("./../../assets/img/footer/library-bg.png");
  background-position: 20% 80%;
  background-size: cover;
  background-repeat: no-repeat;

  .top-container {
    display: flex;

    .title-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: 163px 150px 141px 150px;

      
      background: url("./../../assets/img/footer/library-bg.png");
      background-position: 50% 80%;
      background-size: contain;
      background-repeat: no-repeat;
      // flex: 1 1;

      // h2 {
      // color: $font-white;
      // font-family: $family-titillium-web;
      // font-size: 36px;
      // font-style: normal;
      // font-weight: 700;
      // line-height: 140%; /* 50.4px */}

      // p {
      //   color: $font-white;
      //   font-family: $family-titillium-web;
      //   font-size: 18px;
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 140%; /* 25.2px */
      //   text-align: justify;
      // }
    }
  }

  .bottom-container {
    padding: 70px 150px 30px 150px;
    background: $bg-black;

    .bottom-box {
      display: flex;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      
      .left-box {
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
          color: $font-white;
          font-family: $family-titillium-web;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 140%; /* 21px */
          opacity: 0.45;

        }
      }

      
      .right-box {
        width: 55%;
        display: flex;
        // flex-direction: column;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 15px;

        .middle-box {
          align-self: flex-end;
  
          p {
            color: $font-white;
            font-family: $family-titillium-web;
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 21px */
            opacity: 0.45;

            // text-align:right;
          }
        }

        .contacts-box {
          display: flex;
          flex-direction: column-reverse;
          gap: 30px;

          .mail {
            color: $font-white;
            font-family: $family-titillium-web;
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 21px */
            opacity: 0.45;
            text-decoration: none;
          }

          .svg-box {
            display: flex;
            gap: 20px;
  
            .telegram-svg {
              background: url("./../../assets/img/footer/telegram-icon.svg");
              width: 30px;
              height: 30px;
              opacity: 0.45;
            }
  
            .viber-svg {
              background: url("./../../assets/img/footer/viber-icon.svg");
              width: 30px;
              height: 30px;
              opacity: 0.45;
            }
  
            .fb-svg {
              background: url("./../../assets/img/footer/facebook-icon.svg");
              width: 30px;
              height: 30px;
              opacity: 0.45;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .footer-container {
  
    .top-container {
  
      .title-box {
        margin: 120px 110px 110px 110px;

  
        h2 {
        }
  
        p {
        }
      }
    }
  
    .bottom-container {
      padding: 70px 110px 30px 110px;
  
      .bottom-box {
        
        .left-box {
  
          a {
          }
        }
  
        
        .right-box {
          
          .middle-box {
    
            p {
            }
          }
          
          .contacts-box {
            
            .mail {
            }
            
            .svg-box {
    
              .telegram-svg {
              }
    
              .viber-svg {
              }
    
              .fb-svg {
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .footer-container {
    padding-top: 35%;
    width: 100%;
    background-size: contain;
    background-position: 50% 10%;
  
    .top-container {
      flex-direction: column-reverse;
  
      .title-box {
        margin: 110px 100px 100px 100px;
  
        h2 {
        }
  
        p {
        }
      }
    }
  
    .bottom-container {
      padding: 65px 100px 30px 100px;
  
      .bottom-box {
        
        .left-box {
  
          a {
          }
        }
  
        .right-box {
          
          .middle-box {
    
            p {
            }
          }
          
          .contacts-box {
            
            .mail {
            }
            
            .svg-box {
    
              .telegram-svg {
              }
    
              .viber-svg {
              }
    
              .fb-svg {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-container {
    // width: 100%;
    padding-top: 50%;


    background-size: cover;
    
  
    .top-container {
      flex-direction: column-reverse;
  
      .title-box {
        margin: 70px 20px 70px 20px;
  
        h2 {
        }
  
        p {
        }
      }
    }
  
    .bottom-container {
      padding: 40px 20px 20px 20px;
  
      .bottom-box {
        
        .left-box {
          gap: 7px;
  
          a {
            font-size: 10px;
          }
        }

        .right-box {
          flex-direction: column;
          width: auto;
          
          .middle-box {
    
            p {
              font-size: 10px;
            }
          }
          
          .contacts-box {
            flex-direction: column;
            gap: 15px;
            
            .mail {
              font-size: 11px;
            }
            
            .svg-box {
    
              .telegram-svg {
                width: 19px;
                height: 19px;
                background-size: cover;
              }
    
              .viber-svg {
                width: 19px;
                height: 19px;
                background-size: cover;
              }
    
              .fb-svg {
                width: 19px;
                height: 19px;
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
}